#head {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  color: #666;
  font-size: 1.2em;
}

body {
  width: 70%;
  padding: 0;
  background-color: 050506;
  text-align: left;
  color: F4F4F6;
  

}

#container
{
    width: 70%;
    padding: 0;
    text-align: left;
    border: 1px solid #000;
    margin: 0 auto;
}
