body {
    color: rgb(33, 33, 33);
    font-family: Verdana, sans-serif;
    text-align: center;
    padding: 0px;
    margin: 0;
}

.title {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    padding: 0px 0;
    z-index: 1000;
}

.content {
    margin-top: 100px; /* Adjust this value to match the height of your title */
}
